<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>iniciar sesion</h1>
    <form action="/login" method="post">
      <div>
        <label for="">ingresa tu email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div>
        <label for="">ingresa tu contrasena</label>
        <input type="password" name="contrasena" id="contrasena" />
      </div>
      <button type="submit">enviar</button>

      {{#if error}}
        <span style="color: red;">{{error}}</span>
      {{/if}}
    </form>
  </body>
</html>